{
  "singleQuote": true,
  "trailingComma": "none",
  "svelteBracketNewLine": true,
  "overrides": [
    {
      "files": ["*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
